PORT=3000
NODE_ENV=development
CHOKIDAR_USEPOLLING=true
SKIP_PREFLIGHT_CHECK=true
REACT_APP_API_URL_CREATE=true
REACT_APP_API_URL_SERVICE_ID_EMAIL="service_cf10bkh"
REACT_APP_API_URL_TEMPLATE_ID_EMAIL="template_5qda3yt"
REACT_APP_API_URL_USER_ID_EMAIL="xcyDMilqYz2aBGEwa"